.secondary {
  padding: 100px;
  background-color: #000;
  color: #fff;
}

.secondary__hdg {
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: normal;
}

.secondary__hdgSub {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  color: rgb(255, 219, 127);
}

// panels
.panels {
  width: 100%;
  max-width: 1900px;
  margin: auto;
}

// panel {
.panel {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 60px;
}

.panel__body {
  margin-bottom: 16px;

  & :last-child {
    margin-bottom: 0;
  }
}

.panel__lede {
  margin-bottom: 16px;
  font-size: 24px;
  color: rgb(255, 219, 127);
}

// tertiary
.tertiary {
  padding: 100px;
}

.tertiary__hdg {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: normal;

  &::before {
    position: absolute;
    bottom: 0;
    right: 30%;
    left: 30%;
    height: 2px;
    background-color: rgb(199, 151, 30);
    content: "";
  }
}

.tertiary__hdgSub {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  color: rgb(199, 151, 30);
}

.tertiary__txt {
  text-align: center;
}

// tertiary__table

.tertiary__table {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;

  > thead,
  > tbody {
    > tr {
      > th,
      > td {
        padding: 30px 20px;
      }

      & :not(:first-child) {
        border-left: 1px solid #000;
      }
    }
  }

  > thead + tbody {
      > tr {
        > th,
        > td {
          border-top: 1px solid #000;
        }
    }
  }

  > thead {
    > tr {
      > th,
      > td {
        font-size: 20px;
        font-weight: normal;
        background-color: rgb(208, 158, 71);
        color: #fff;
      }
    }
  }
}

// conversion
.conversion {
  padding-bottom: 60px;
  // background-color: rgb(215, 208, 136);
}

.conversion__hdg {
  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
}

.conversion__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.conversion__list {
  & + & {
    margin-left: 40px;
  }

  > a {
    display: block;
    width: 230px;
    padding: 16px 40px;
    border-radius: 5px;
    background-color: #000;
    border: 3px solid #000;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    transition: .3s;

    &:hover,
    &:active,
    &:focus {
      background-color: rgb(90, 90, 90);
      border-color: rgb(90, 90, 90);
    }
  }
}

.conversion__listContact {
  > a {
    background-color: #fff;
    color: #000;
    font-weight: bold;

    &:hover,
    &:active,
    &:focus {
      background-color: rgb(210, 210, 210);
      border-color: rgb(50, 50, 50);
    }
  }
}

.conversion__txt {
  text-align: center;
}