.secondary {
  padding: 70px;
  background-color: #000;
}

.secondary__hdg {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: normal;
}

.secondary__hdgSub {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  color: rgb(255, 219, 127);
}